/* Write your custom CSS here */
.table-d tr td:last-child {
	text-align:right !important;
}
.table-d tr th:last-child {
	text-align:right !important;
}
.main-head {
	padding-bottom:10px;
}
.head {
	height:48px !important;
}
.head h3{
	font-size:20px !important;
}
.head-content {
	padding-bottom:0px !important;
}
.sep {
	margin-top:10px;
	margin-bottom:10px;
}
.view-btn {
	color:#fff;
	margin-left:20px;
}
.panel-icon {
	font-size:40px;
	position:absolute;
	text-align:right;
	right:35px;
}

.panel-gray {
    background: #f4f4f4;
    border: 1px solid #e9e9e9!important;
	min-height:212px;
}


.sale th {
	background:#F54747;
	color:#FFFFFF;
}
.sale tr:nth-child(even) {
	background:#f2f2f2;
}


@media (min-width: 768px) {
	.hide-desk {
		display:none;
	}
	.my-form {
		margin-left:0px !important;
		margin-right:0px !important;
		background:#f2f2f2;
	}
	.form-input {
		padding-right:0px !important;
	}
	.add-btn {
		float:right;
	}
}
@media (max-width: 767px) {
	.hide-mob {
		display:none;
	}
	.mob-center {
		text-align:center !important;
	}
}

.panel-login {
	-webkit-box-shadow: 0px 0px 4px 2px rgba(212,212,212,1);
	-moz-box-shadow: 0px 0px 4px 2px rgba(212,212,212,1);
	box-shadow: 0px 0px 4px 2px rgba(212,212,212,1);
	border-top: solid 5px #33b5e5;

}
.login-box02 {
   margin:0 auto; margin-top:10%; width:75%;text-align:left
}
.login-logo {
	margin-bottom:20px;
}

.footer {
	width:100%;
	bottom:0px;
	position:fixed;
	background:#3b3b3b;
	color:#FFFFFF;
}

.datatable {
	min-height:350px;
	background:#f4f4f4;
	border-top:solid 5px #00adef !important;
	border-radius:10px;
}

.textarea {
	height:200px;
	background:#eaeaea;
	min-height:200px;
	max-height:200px;
}

.mb20 {
	margin-bottom:20px;
}

.order-list {
	padding:0px;
	list-style-type: none;
}

.order-list li {
	border-top:solid 1px #ddd;
	padding:6px 0;
	counter-increment: step-counter;
}

.order-list li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: rgb(200,200,200);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

.profile-heading h1{
	font-size:16px;
	text-align:center;
	margin:0px;
	line-height:35px;
	border-bottom:solid 1px #ddd;
}

.table tr td span {
	color:#FF6600;
	font-size:14px;
	text-align:center;
}
.table tr td i {
	color:#FF6600;
	font-size:14px;
	margin-left:5px;
	padding:2px;
}

.table tr th i {
	color:#FF6600;
	font-size:14px;
	text-align:center;
	margin-left:5px;
	padding:2px;
}
.table tr th a {
	text-decoration:none;
}
.mytable thead {
	background:#f2f2f2;
}

.mytable tr:nth-child(odd) {
	background:#fff;
}


.mytable tr:nth-child(even) {
	background:#f9f9f9
}

.mailbox-content table tbody tr:nth-child(odd) {
	background:#f9f9f9;
}

.border {
	border:solid 1px #ddd;
	border-right:0px;
}
.border tr td{
	border-right:solid 1px #dddddd;
}
.border tr th{
	border-right:solid 1px #dddddd;
}
.pop-heading {
	font-size:18px;
	color:#FFFFFF !important;
}
.modal-header {
	background:#00adef  !important; 
	margin-bottom:20px;
}
.myselectform {
	border:solid 1px #dce1e4  !important;
	font-size:13px;
	font-weight:normal !important;
}

#dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 15px 2px 2px;
    background: transparent url(../images/select-arrow.png) no-repeat right center;
	margin-right:10px;	
	background-color:#FFFFFF !important;
}
.myinputform {
	padding: 6px 10px !important;
	border:solid 1px #dce1e4  !important;
	
}
.selectborder option{
	border-bottom:solid 1px #f2f2f2;
	padding-top:4px;
	padding-bottom:4px;
}
div.browse-wrap {
	top:0;
	left:0;
	margin:20px;
	margin-bottom:10px !important;
	margin-right:0px !important;
	cursor:pointer;
	overflow:hidden;
	padding:9px;
	text-align:center;
	position:relative;
	background-color:#f6f7f8;
	border:solid 1px #d2d2d7;
}
div.title {
	color:#3b5998;
	font-size:14px;
	font-weight:bold;
	font-family:tahoma, arial, sans-serif;
}
input.upload {
	right:0;
	margin:0;
	bottom:0;
	padding:0;
	opacity:0;
	height:300px;
	outline:none;
	cursor:inherit;
	position:absolute;
	font-size:1000px !important;
}
span.upload-path {
	text-align: center;
	margin:20px;
	margin-top:0px !important;
	display:block;
	font-size: 80%;
	color:#3b5998;
	font-weight:bold;
	font-family:tahoma, arial, sans-serif;
}

/* #Page Title
================================================== */
.page-title {
	background: #f5f5f5;	
}
.page-title .page-title-heading {
	float: left;	
}
.page-title .page-title-heading h3 {
	text-transform: uppercase;	
}
.page-title .page-title-controls {
	float: right;	
}
.page-title .page-title-controls ul {
	list-style: none;
	margin: 0;
	padding: 0;	
	font-size: 0px;
	letter-spacing: -4px;
}
.page-title .page-title-controls ul li {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 0;
	font-size: 14px;
	letter-spacing: normal;
}
.page-title .page-title-controls ul li:last-child {
	margin: 0;
}	
.page-title .page-title-controls ul li a {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #74767d;
	border: 1px solid #74767d;
	border-radius: 50%;
}
.page-title .page-title-controls ul li:first-child a {
	display: inline-block;	
	width: auto;
	padding: 0 12px;
	border-radius: 20px;
}
.page-title .page-title-controls ul li:first-child a i {
	color: #64dd17;
}

/* #Salary Box
================================================== */
.salary-box {
	display: block;
	width: 100%;
	padding: 15px;
	margin: 0 0 30px 0;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	background: #1c2c3f;
}
.salary-box .salary-box-title {
	display: block;
	width: 100%;
	color: #ffffff;
}
.salary-box .salary-box-title h1 {
	margin: 0 0 10px 0;
}
.salary-box .salary-box-title h1 span.salary-orange-box {
	display: inline-block;
	width: 72px;
	height: 72px;
	line-height: 72px;
	font-size: 36px;
	background: #ef6c00;	
	border-radius: 50%;
}
.salary-box .salary-box-title h1 span.salary-green-box {
	display: inline-block;
	width: 72px;
	height: 72px;
	line-height: 72px;
	font-size: 36px;
	background: #64dd17;	
	border-radius: 50%;
}
.salary-box .salary-info {
	display: block;
	width: 100%;		
}
.salary-box .salary-info p {
	margin: 0px;
	text-transform: uppercase;
	font-size: 14px;
	color: #b4b4b4;	
}
.salary-big-box {
	display: block;
	width: 100%;
	padding: 15px;
	margin: 0 0 30px 0;
	text-align: center;
	background: #1c2c3f;
}
.salary-big-box .salary-box-title {
	display: inline-block;
	color: #ffffff;
	line-height: 90px;
}
.salary-big-box .salary-box-title h1 {
	display: inline-block;
	margin: 0 5px;
	line-height: 90px;
}
.salary-big-box .salary-box-title h1 span.salary-blue-box {
	display: inline-block;
	width: 90px;
	height: 90px;
	line-height: 90px;
	font-size: 54px;
	background: #00adef;	
	border-radius: 50%;
}
.salary-big-box .salary-box-sub-title {
	display: block;
	width: 100%;
	color: #ffffff;	
}
.salary-big-box .salary-box-sub-title h1 {
	margin: 0;
	line-height: 92px;
}

/* #Chart Box
================================================== */
.chart-box {
	display: block;
	width: 100%;
	margin: 0 0 30px 0;
}
.chart-box .chart-title {
	display: block;
	width: 100%;
	margin: 0 0 15px 0;	
}
.chart-box .chart-title h2 {
	font-weight: 500;	
	color: #757575;
}
.chart-box .chart-details {
	display: block;
	width: 100%;	
}
.chart-box .chart-details .chart {
    width: 100%;
    height: 200px;
}

/* #Rule Form
================================================== */
.rule-form {
	display: block;
	width: 100%;	
}
.rule-form .control-label {
    display: block;
	width: 100%;
	padding: 0;
    margin: 0;
}
.rule-form .form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition-property: -webkit-box-shadow, border;
	-moz-transition-property: box-shadow, border;
	transition-property: box-shadow, border;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	transition-timing-function: ease;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	will-change: transform;
	border-radius: 4px 4px 4px 4px;
}
.rule-form .form-control:focus {
  	-webkit-box-shadow: 0 0 0 3px rgba(0, 136, 204, 0.3) !important;
 	box-shadow: 0 0 0 3px rgba(0, 136, 204, 0.3) !important;
  	border-radius: 4px 4px 4px 4px;
	border: 1px solid #158cfb;
}

/* #Layout for Ipad(lanscape)
================================================== */
@media only screen and (max-width: 1050px) {

}

/* #Layout for Ipad(portrait)
================================================== */
@media only screen and (max-width: 992px) {

}

/* #Layout for Mobile(lanscape)
================================================== */
@media handheld, only screen and (max-width: 767px) {
	
}

/* #Layout for Mobile(portrait)
================================================== */
@media only screen and (max-width: 479px) {
	.page-title .page-title-heading {
		float: none;
		display: block;
		width: 100%;
		padding: 0 0 15px 0;
		text-align: center;	
	}
	.page-title .page-title-controls {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}
	.salary-big-box .salary-box-title h1 {
		display: block;
		width: 100%;	
	}
}
